.venv
myvenev/
.myvenv
.pytest_cache/
__pycache__/
.ipynb_checkpoints/
.vscode/
.env
tests/
htmlcov/
cov_html/
ci/
.venv
myvenv/
.coverage
coverage.xml
venv/
test.db
=4.2
src/all_generation.zip

# Generated test detection output
manual_test_result.json